.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1B1B1B, #2C3E50); ;
}

.card {
  direction: rtl;
  background-color: #F5F7FA;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #1f2937;
}


.error {
  color: red;
  margin-bottom: 1rem;
}
